li {
    list-style-type: none;
}
/* NAVIGATION-START */
.pic-logo-handyhub {
    display: flex;
}

.text-logo {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
}

.container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-navigation {
    width: 100%;
    margin: 0;
    z-index: 9;
    padding: 24px 100px;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: rgb(249, 249, 249);
}

.log-sign-up {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 280px;
}

.btn-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-nav {
    display: flex;
    list-style: none;
}

.ul-nav .li-nav {
    padding: 10px 15px;
    margin: 0 10px;
    position: relative;
}

.ul-nav .li-nav::before,
.ul-nav .li-nav::after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background-color: #292f36;
    transition: 0.3s all ease-in-out;
}

.ul-nav .li-nav::before {
    top: 0;
    left: 0;
}

.ul-nav .li-nav::after {
    bottom: 0;
    right: 0;
}

.ul-nav .li-nav:hover:before {
    right: 0;
    left: auto;
    width: 100%;
}

.ul-nav .li-nav:hover:after {
    right: auto;
    left: 0;
    width: 100%;
}

.ul-nav .li-nav .a-nav {
    text-decoration: none;
    cursor: pointer;
    color: #292f36;
    font-size: 20px;
    font-family: "Wix Madefor Display", sans-serif;
}

/* NAVIGATION-ENDS */
body {
    background: rgb(99, 39, 120);
}

.form-control:focus {
    box-shadow: none;
    border-color: #ba68c8;
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none;
}

.profile-button:hover {
    background: #682773;
}

.profile-button:focus {
    background: #682773;
    box-shadow: none;
}

.profile-button:active {
    background: #682773;
    box-shadow: none;
}

.back:hover {
    color: #682773;
    cursor: pointer;
}

.labels {
    font-size: 11px;
}

.add-experience:hover {
    background: #ba68c8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ba68c8;
}

.kelas {
    display: flex;
    justify-content: space-between;
}

.input-group2 {
    margin-bottom: 10px;
    height: 500px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-control {
    height: 40px;
    border-radius: 5px;
}

.btn {
    height: 40px;
    border-radius: 5px;
}

.input-profile{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 700px;
}
